# DATA PREPROCESSING AND DATA CLEANING

In [1]:
# import the necessary libraries. 
import pandas as pd
import numpy as np

In [2]:
# Avoid unnessary warnings in this module(Ex: software updation, version-mismatch, cache errors)
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read the datasets
df=pd.read_csv('Bitcoin.csv')
del df['SNo']
del df['Name']
del df['Symbol']
del df['Date']
del df['Marketcap']

In [4]:
# Check the head values.
df.head()

         High         Low        Open       Close  Volume
0  147.488007  134.000000  134.444000  144.539993     0.0
1  146.929993  134.050003  144.000000  139.000000     0.0
2  139.889999  107.720001  139.000000  116.989998     0.0
3  125.599998   92.281898  116.379997  105.209999     0.0
4  108.127998   79.099998  106.250000   97.750000     0.0

In [5]:
# Check our data how many columns they are.
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume'], dtype='object')

In [6]:
# Drop the null values of in this datasets.
df1=df.dropna()

In [7]:
# Check the bottom line records of this data.
df.tail()

              High           Low          Open         Close        Volume
2986  33939.588699  32770.680780  33549.600177  33897.048590  3.872897e+10
2987  34909.259899  33402.696536  33854.421362  34668.548402  2.438396e+10
2988  35937.567147  34396.477458  34665.564866  35287.779766  2.492431e+10
2989  35284.344430  33213.661034  35284.344430  33746.002456  2.672155e+10
2990  35038.536363  33599.916169  33723.509655  34235.193451  2.650126e+10

In [8]:
# Check the dimension of our datasets (ex: how many rows and columns)
df.shape

(2991, 5)

In [9]:
# Check the overall datasets value
df.size

14955

In [10]:
# Check our data how many columns they are.
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume'], dtype='object')

In [11]:
# Check our datasets information (ex: data_type, NUlL_count, Columns, and so on)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   High    2991 non-null   float64
 1   Low     2991 non-null   float64
 2   Open    2991 non-null   float64
 3   Close   2991 non-null   float64
 4   Volume  2991 non-null   float64
dtypes: float64(5)
memory usage: 117.0 KB

In [12]:
# Check if any null value in our datasets
df.isnull()

       High    Low   Open  Close  Volume
0     False  False  False  False   False
1     False  False  False  False   False
2     False  False  False  False   False
3     False  False  False  False   False
4     False  False  False  False   False
...     ...    ...    ...    ...     ...
2986  False  False  False  False   False
2987  False  False  False  False   False
2988  False  False  False  False   False
2989  False  False  False  False   False
2990  False  False  False  False   False

[2991 rows x 5 columns]

In [13]:
# Remove the null values
df = df.dropna()

In [14]:
# Check the unique value for specific columns
df['Close'].unique()

array([  144.53999329,   139.        ,   116.98999786, ...,
       35287.77976616, 33746.00245614, 34235.19345116])

In [15]:
# Describe our data in stastical point of view.
df.describe()

               High           Low          Open         Close        Volume
count   2991.000000   2991.000000   2991.000000   2991.000000  2.991000e+03
mean    6893.326038   6486.009539   6700.146240   6711.290443  1.090633e+10
std    11642.832456  10869.032130  11288.043736  11298.141921  1.888895e+10
min       74.561096     65.526001     68.504997     68.431000  0.000000e+00
25%      436.179001    422.879486    430.445496    430.569489  3.036725e+07
50%     2387.610107   2178.500000   2269.889893   2286.409912  9.460360e+08
75%     8733.926948   8289.800459   8569.656494   8576.238715  1.592015e+10
max    64863.098908  62208.964366  63523.754869  63503.457930  3.509679e+11

In [16]:
# Check the relationship between each individual columns.
df.corr()

            High       Low      Open     Close    Volume
High    1.000000  0.998841  0.999442  0.999417  0.810464
Low     0.998841  1.000000  0.998905  0.999291  0.803110
Open    0.999442  0.998905  1.000000  0.998646  0.808439
Close   0.999417  0.999291  0.998646  1.000000  0.807388
Volume  0.810464  0.803110  0.808439  0.807388  1.000000

In [17]:
# Checkout the data is duplicated.
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2986    False
2987    False
2988    False
2989    False
2990    False
Length: 2991, dtype: bool

In [18]:
# Total sum of duplicated values.
sum(df.duplicated())

0